<!DOCTYPE html>
<html lang="en">
    <head>
        <link href = "css/bootstrap.min.css" rel = "stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src ="js/siot.js"></script>
    </head>
<body>
<div class="container">      
 <!--  
    <div>
        <a class="btn btn-large btn-info" id="add_new_device_button" href="javascript:window.open('document.aspx','mywindowtitle','width=500,height=150')" >Add New Device</a>
    </div></br>
-->

    <div class="controls">
        <button class="btn btn-success" id="add_new_device_button">Add New Device</button>
    </div>

  <% devices.forEach(function(device){ %>
    <div style="display:inline-block; vertical-align:bottom;">
        <a href="#">
          <p style="float: left"><img src="http://image.shutterstock.com/display_pic_with_logo/144463/144463,1263417199,1/stock-photo-old-school-boom-box-ghetto-blaster-cassette-radio-with-large-speakers-44442118.jpg"
            alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
              <%= device.deviceName %> | <%= device.deviceType %> | <%= device.indoorLocation %> | <%= device.communicationType %> | <%= device.property_name %> | <%= device.status %></p>
        </a> 
    </div></br>
    <% }) %>
</div>

</body>
</html>