<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <script type="text/javascript"  language="javascript">
    $(document).ready(function() {
      $("#add_new_device_button").click(function(event){
        var owner = <%- JSON.stringify(username) %>; 
        alert(owner);
        $.ajax({
            dataType: "json",
            type: "GET", 
            url: "//localhost:3001/device_reg/" + owner, 
            contentType: 'application/json; charset=utf-8', 
            success: function (msg) {
                console.log(JSON.stringify(msg));
            },
            error: function(e) {
                var obj=JSON.parse(JSON.stringify(e));
                if (obj.status == 200) { 
                        alert ("I am 200 " + obj.status); 
                }
                else { 
                alert ("I have an error" + JSON.stringify(e));
                            console.log(e);
                }
            }
            }); //ajax
        }); //register
    }) //document ready 
  </script>
</head>

<body>

  <% devices.forEach(function(device){ %>
    <div style="display:inline-block; vertical-align:bottom;">
        <a href="#">
          <p style="float: left"><img src="http://image.shutterstock.com/display_pic_with_logo/144463/144463,1263417199,1/stock-photo-old-school-boom-box-ghetto-blaster-cassette-radio-with-large-speakers-44442118.jpg"
            alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
              <%= device.deviceName %> | <%= device.deviceType %> | <%= device.indoorLocation %> | <%= device.communicationType %> | <%= device.property_name %> | <%= device.status %></p>
        </a> 
    </div></br>
    <% }) %>
</body>
</html>