<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <style type="text/css">
    body {
      padding: 50px;
      font: 13px Helvetica, Arial, sans-serif;
    }
  </style>
</head>
<body>
<h1>Users</h1>
<ul id="example">
  <% devices.forEach(function(device){ %>
    <li><%= device.belongTo %> <%= device.deviceType %> <%= device.indoorLocation %> <%= device.deviceName %> <%= device.brand %> <%= device.model %> <%= device.communicationType %> <%= device.deviceId %></li>
  <% }) %>
</ul>
</body>
</html>