<html lang="en">

	<head>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script type="text/javascript"  language="javascript">

   	$(document).ready(function() {
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      	console.log("fired");
      	var target_url;
  		var target = $(e.target).attr("href") // activated tab
  		console.log(target);
  		var owner = <%- JSON.stringify(username) %>; 
  		switch(target){
  			case "#friends":
  				target_url = "//localhost:3001/friends/" + owner;
  				console.log(target_url);
  			break;
  			case "#devices":
  				target_url = "//localhost:3001/devices/" + owner;
  				console.log(target_url);
  			break;
  			case "#thriends":
  				target_url = "//localhost:3001/thriends/" + owner;
  				console.log(target_url);
  			break;
  		}
  		console.log(target_url);

  		$.ajax({
  			type:"GET",
  			url: target_url,
  			error: function(data){
  				console.log("There was a problem");
  			},
  			success: function(data){
  				$(target).html(data)
  			}
  		});// ajax
	   });

	}) //docuemnt 
	</script>
	<script type="text/javascript"  language="javascript">
	    $(document).ready(function() {
	      $("#add_new_device_button").click(function(event){
	        var owner = <%- JSON.stringify(username) %>; 
	        //alert(owner);
	        $.ajax({
	            dataType: "HTML",
	            type: "GET", 
	            url: "//localhost:3001/device_reg/" + owner, 
	            contentType: 'application/json; charset=utf-8', 
	            success: function (msg) {
	                $('.container').html(msg);
	            },
	            error: function(e) {
	                var obj=JSON.parse(JSON.stringify(e));
	                if (obj.status == 200) { 
	                        alert ("I am 200 " + obj.status); 
	                }
	                else { 
	                alert ("I have an error" + JSON.stringify(e));
	                            console.log(e);
	                }
	            }
	            }); //ajax
	        }); //new device button
	    }) //document ready 
 	</script>

	</head>

	<body>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript"></script>
	
		<!-- User Name -->
		<div class="col-md-12" style="margin-top:2%">
			<p style="margin-left:2%;font-size:60"><%= username %></p>
		</div>
		
		<!-- Profile Picture -->
		<div class="col-md-5">
			<div class="container" style="margin-top: 5%;">
				<div class="col-md-5">
					<img src="http://blogs.utexas.edu/bonnecazegroup/files/2013/02/blank-profile-hi.png"
						alt="" class="img-rounded img-responsive" />
				</div>
			</div>

			</br><div>
	            <a class="btn btn-large btn-info" id="add_new_device_button" >Add New Device</a>
        	</div>
		</div>
		
		<!-- Tabs -->
		<div class="col-md-7">
			<div class="container">
				<div class="col-md-7">
					
					<!-- Tab Names -->
					<ul class="nav nav-tabs" style="margin-top: 10%;" id="list_of_tabs">
						<li class="active"><a href="#friends" data-toggle="tab">Friends</a></li>
						<li><a href="#thriends" data-toggle="tab">Thriends</a></li>
						<li><a href="#devices" data-toggle="tab">Devices</a></li>
					</ul></br>
			
					<!-- Tab Contents -->
					<div id="myTabContent" class="tab-content">
			
						<!-- Friends Tab -->
						<div class="tab-pane active in; col-md-8;" id="friends">
						<form id="tab">
							<div>
								<button class="btn btn-success" id="test">Add New Friend</button>
							</div></br>
							
							<!-- Friend Name | Friend Location -->
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://blogs.utexas.edu/bonnecazegroup/files/2013/02/blank-profile-hi.png"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Richard Knight | Pittsburgh, PA</p>
							</a>
							</div></br>
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://blogs.utexas.edu/bonnecazegroup/files/2013/02/blank-profile-hi.png"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Ryan Ulanowicz | Los Angeles, CA</p>
							</a>
							</div></br>
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://blogs.utexas.edu/bonnecazegroup/files/2013/02/blank-profile-hi.png"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Hayley Williams | Franklin, TN</p>
							</a>
							</div></br>
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://blogs.utexas.edu/bonnecazegroup/files/2013/02/blank-profile-hi.png"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Patrick Stump | Evanston, IL</p>
							</a>
							</div></br>
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://blogs.utexas.edu/bonnecazegroup/files/2013/02/blank-profile-hi.png"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Adam Young | Owatonna, MN</p>
							</a>
							</div></br>
	
						</form>
						</div>
			
						<!-- Thriends Tab -->
						<div class="tab-pane fade" id="thriends">
						<form id="tab2">
					
							
							<!-- Device Owner 's Device Type | Location -->
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://image.shutterstock.com/display_pic_with_logo/144463/144463,1263417199,1/stock-photo-old-school-boom-box-ghetto-blaster-cassette-radio-with-large-speakers-44442118.jpg"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Richard Knight's Radio | Franklin, PA</p>
							</a>
							</div></br>
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://image.shutterstock.com/display_pic_with_logo/144463/144463,1263417199,1/stock-photo-old-school-boom-box-ghetto-blaster-cassette-radio-with-large-speakers-44442118.jpg"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Richard Knight's Thermostat | Pittsburgh, PA</p>
							</a>
							</div></br>
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://image.shutterstock.com/display_pic_with_logo/144463/144463,1263417199,1/stock-photo-old-school-boom-box-ghetto-blaster-cassette-radio-with-large-speakers-44442118.jpg"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Patrick Stump's Thermostat | Evanston, IL</p>
							</a>
							</div></br>
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://image.shutterstock.com/display_pic_with_logo/144463/144463,1263417199,1/stock-photo-old-school-boom-box-ghetto-blaster-cassette-radio-with-large-speakers-44442118.jpg"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Ryan Ulanowicz's Radio | Los Angeles, CA</p>
							</a>
							</div></br>
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://image.shutterstock.com/display_pic_with_logo/144463/144463,1263417199,1/stock-photo-old-school-boom-box-ghetto-blaster-cassette-radio-with-large-speakers-44442118.jpg"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Hayley Williams's Television | Franklin, TN</p>
							</a>
							</div></br>
							<div style="display:inline-block; vertical-align:bottom;">
							<a href="#">
								<p style="float: left"><img src="http://image.shutterstock.com/display_pic_with_logo/144463/144463,1263417199,1/stock-photo-old-school-boom-box-ghetto-blaster-cassette-radio-with-large-speakers-44442118.jpg"
									alt="" class="img-rounded img-responsive" height="10%" width="10%" style="margin-top:2%;"/>
								Hayley Williams's Toaster | Franklin, TN</p>
							</a>
							</div></br>
						
						</form>
						</div>
				
						<!-- Devices Tab -->
						<div class="tab-pane fade" id="devices">
				
						</div>
					</div>
			
				</div>
			</div>
		</div>
  
	</body>
</html>
  